@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;

/* Firefox */




/* Chrome, Edge, and Safari */

@tailwind components;
@tailwind utilities;

* {
  font-family: 'DM Sans';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root[data-theme="dark"] {
    --primary-clr: 222 40% 13%;
    --secondary-clr: 224 40% 20%;
    --layout-clr: 211 100% 49%;
    --font-clr: 0 0% 100%;
    --disabled-clr: 224 11% 60%;
  }

  :root[data-theme="light"] {
    --primary-clr: 224 11% 90%;
    --secondary-clr: 0 0% 100%;
    --layout-clr: 211 100% 49%;
    --font-clr: 222 40% 13%;
    --disabled-clr: 224 40% 20%;
  }



  svg {
    color: hsl(var(--font-clr))
  }
}

.searchSvg {
  color: hsl(var(--layout-clr))
}

body {

  background-color: hsl(var(--primary-clr));
}

/* width */